$primaryColor: #3c5e9b;
$primaryLightColor: #88b9d7;
$secondary: #ffc831;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 38px;
}

p {
    font-size: 18px;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.shadow {
    box-shadow: 0px 10px 10px 5px #ddd;
}

.info {
    padding: 1rem;
    & > .imgContainer {
        margin: 1rem auto;
        width: 200px;
        position: relative;
        & > img {
            width: 100%;
            border-radius: 50%;
            border: 10px solid $primaryLightColor;
            box-shadow: 1px 1px 10px 5px #ddd;
        }
    }
    & > .imgContainer:after {
        position: absolute;
        bottom: 7%;
        right: -14%;
        content: "";
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $primaryLightColor;
        box-shadow: 0px 2px 5px 1px #ddd;
    }

    & > .nameContainer {
        h1 {
            color: $primaryColor;
            margin: 0.5rem 0;
        }
        p {
            font-size: 19px;
            color: #707070;
            margin: 0.5rem 0;
        }
    }

    & > .contacts {
        justify-content: center;
        margin: 1rem 0;
        div {
            margin: 0.5rem 1rem;
            font-size: 18px;
            display: flex;
            color: "#A8A8A8";
            & > span {
                color: $secondary;
                margin-right: 0.5rem;
            }
        }
    }

    & > .aboutText {
        width: 50%;
        margin: auto;
        font-size: 16px;
    }

    @media all and (max-width: 900px) {
        .aboutText {
            width: 80%;
        }
    }
    @media all and (max-width: 600px) {
        .aboutText {
            width: 100%;
        }
    }
}

.languagesContainer {
    margin: 2rem 0;
    padding-bottom: 2rem;
    border-bottom: 1px solid #ddd;
    div {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin: 1rem;
        padding: 0.7rem;
    }

    div {
        box-shadow: 1px 1px 5px 1px #eee;
    }

    div:nth-child(2n) {
        background-color: $primaryLightColor;
    }

    div:nth-child(2n + 1) {
        background-color: $primaryColor;
    }

    img {
        filter: invert(100%);
        width: 100%;
        height: 100%;
    }
}

.proficiencyCont {
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
    color: #707070;
    & > h1 {
        font-size: 38px;
    }

    & > .cards {
        & > .card {
            margin: 1rem 1.5rem;
            flex: 1;
            img {
                width: 180px;
            }
            h2 {
                margin: 0.5rem;
                font-size: 22px;
            }
            p {
                margin: 0.5rem;
                font-size: 16px;
            }
        }
    }
}

.projects {
    background-color: #f4f4f4;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;

    > .cards {
        justify-content: space-evenly;

        > .card {
            background-color: white;
            width: 30%;
            margin: 2rem 1rem;
            margin-bottom: 4rem;
            width: 300px;

            transition: box-shadow 0.6s cubic-bezier(0.43, 0.195, 0.02, 1);

            box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.03), -1px 1px 0 rgba(0, 0, 0, 0.03), 1px -1px 0 rgba(0, 0, 0, 0.03),
                -1px -1px 0 rgba(0, 0, 0, 0.03);

            &:hover {
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 2px 3px rgba(0, 0, 0, 0.05), 0 4px 6px rgba(0, 0, 0, 0.05),
                    0 8px 12px rgba(0, 0, 0, 0.05), 0 12px 24px rgba(0, 0, 0, 0.05);
            }

            img {
                width: 100%;
                border: 1px solid #ddd;
            }

            > .card-body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                min-height: 100px;
                padding-top: 1rem;

                .title {
                    justify-self: flex-start;
                }

                .links {
                    text-align: left;
                    margin: 1rem;
                }
            }
        }
    }
}
